<ion-view title="Home" id="page1">
    <ion-content padding="true" class="has-header">
        <a ui-sref="menu.selectDestionation" id="home-button12" class="button button-positive  button-block icon-right ion-ios-plus-outline">Add Journey</a>
        <ion-list>
            <ion-item class="item-divider">Your Journey</ion-item>
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>Title</h2>
                <p>Item</p>
            </ion-item>
        </ion-list>
        <div class="button-bar"></div>
        <div class="button-bar"></div>
    </ion-content>
</ion-view>