<ion-view title="Traffic Report" id="page15">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <label class="item item-select">
                <span class="input-label">Select Location</span>
                <select></select>
            </label>
            <label class="item item-select">
                <span class="input-label">How's the Weather?</span>
                <select>
                    <option></option>
                    <option>Sunny</option>
                    <option>Cloudy</option>
                    <option>Rainy</option>
                    <option>Stormy</option>
                </select>
            </label>
        </form>
    </ion-content>
</ion-view>