<ion-view title="Traffic" id="page12">
    <ion-content padding="true" class="has-header">
        <div class="list card">
            <div class="item item-divider">Card</div>
            <div class="item item-body">
                <div>
                    <img src="img/nvT8VMoS0Sdc2pvXUdLw_tokyo-japan.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
                </div>
                <ion-list>
                    <ion-item class="item-thumbnail-left">
                        <img>
                        <h2>Lorem Pasum</h2>
                        <p>Lorem Pasum</p>
                    </ion-item>
                </ion-list>
            </div>
            <div class="item item-divider">Test</div>
        </div>
    </ion-content>
</ion-view>